build
certifi
charset-normalizer
colorama
coverage
docutils
-e git+https://github.com/Berryl/EbfUtil.git@8df888d8d4d6b2ee5c84820840d3ab5709ec145e#egg=ebf_core
id
idna
iniconfig
jaraco.classes
jaraco.context
jaraco.functools
keyring
markdown-it-py
mdurl
mypy
mypy_extensions
nh3
packaging
pathspec
pip-review
pluggy
Pygments
pyproject_hooks
pytest
pytest-cov
pywin32-ctypes
PyYAML
readme_renderer
requests
requests-toolbelt
rfc3986
rich
ruff
setuptools
twine
typeguard
types-PyYAML
typing_extensions
urllib3
wheel
